* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 400px;
  padding: 50px;
  margin: 50px auto;
  background-color: antiquewhite;
  font-size: 1.2rem;
}
form {
  width: 100%;
  margin: 0 auto;
}

#password {
  width: 100%;
  margin: 15px auto;
  padding: 0.5rem 0;
  font-size: 1rem;
}
