* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 100px auto;
}

.container {
  text-align: center;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
